name: Build & Push Multi-Arch Image to GHCR

on:
  push:
    branches: ["f4"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download lib-version artifact
        uses: actions/download-artifact@v4
        with:
         name: lib-version-jar
         path: ./libs  # put JAR into a folder
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Install lib-version into local Maven repo
        run: |
          mvn install:install-file \
            -Dfile=./libs/lib-version-*.jar \
            -DgroupId=doda25.team5 \
            -DartifactId=lib-version \
            -Dversion=1.0.1 \
            -Dpackaging=jar
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Multi-Arch Image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/doda25-team5/sms-frontend:latest
